.profileContainer {
  width: 4em;
  height: 4em;
}

.profile {
  height: 100%;
  width: 100%;
}

.user {
  height: 0;
  width: 0;
}

.trex {
  background-image: url(assets/images/rex.png);
  background-size: cover;
  color: blue;
}

.sender {
  flex: 1;
  align-self: flex-end;
  font-family: 'Rob-Bold', serif;
  font-size: 1.250rem;
  padding: 0 0.5rem;
  margin: 0 0 0.5rem;
}
