.listWrapper {
  width: 100%;
  height: calc(100% - 42px);
  overflow-y: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  left: 0;
}

.scrollWrapper {
  max-width: 610px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: visible;
  max-height: 100%;
}

.messageList {
  width: 100%;
  max-width: 590px;
  padding: 0;
}


.chatBox {
  background-image: url(assets/images/TRex_BG_1920_1080.jpg);
  background-size: cover;
  background-position: center center;
  flex: auto;
  position: relative;
}


.messageList li {
  list-style: none;
}

@media (min-width: 460px) {
  .listWrapper {
    height: calc(100% - 56px);
  }
}
@media (min-width: 640px) {
  .listWrapper {
    height: calc(100% - 70px);
  }
}

;