.listItem {
  padding: 0 1em;
  margin: 0.6em auto;
  display: flex;
}

.client {
  justify-content: flex-end;
}

.client > .messageText {
  border-radius: 1.8rem;
  border-top-right-radius: 0.1rem;
  background: #519BD5;
  color: #fff;
}

.server > .messageText {
  border-radius: 1.8rem;
  border-top-left-radius: 0.1rem;
}

.messageText {
  max-width: calc(590px - 8.0em);
  padding: 0.8rem 1.6rem;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 0.6em;
}

.filler {
  flex: 1;
}

@media (min-width: 460px) {
  .listItem {
  }
}
