.messageComposer {
  border-top: 1px solid #ececec;
  background-color: #FFFFFF;
  flex: none;
}

.messageComposer > div {
  max-width: 590px;
  margin: auto;
  position: relative;
}

.messageComposer textarea {
  border-width: 0;
  outline: none;
  width: 82%;
  padding-top: 1.65rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 5%;
  resize: none;
}

.sendButton {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto;
}


@media (min-width: 640px) {
  .messageComposer textarea {
    padding-left: 7.4rem;
  }
}
